<h1>Create A New Employee</h1>

<%= form_for @employee do |f| %>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
    <br><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
    <br><br>
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
    <br><br>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label :office %><br>
    <%= f.text_field :office   %>
    <br><br>
    <%= f.label "Image URL:" %><br>
    <%= f.text_field :img_url   %>
    <br><br>
    <%= f.collection_radio_buttons :dog_id, Dog.all, :id, :name %>
    <br><br>
    <%= f.submit %>
<% end %>